[user]
  email = gagne.mathieu@hotmail.com
  name = Mathieu Gagné
	username = mathieugagne

[core]
	pager = less -FX
[alias]
  purge = !ppurge
  current-branch = !git rev-parse --abbrev-ref HEAD
[blame]
  pager = delta
[pager]
  branch = false
	log = true
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[merge]
  conflictstyle = diff3
[http]
	sslVerify = false
